@use "../helpers/" as *;

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  //just an idea
  //border-bottom: $p-color 2px solid;
  //box-shadow: 10px 10px 45px 14px rgba(0,0,0,0.7);

  .menu-list {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .menu_item {
      padding: 0 15px;
      .menu_link{
        font-weight: 600;
        position: relative;
        background: $gradiant-color0;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        cursor: pointer;

        &::after{
          margin-top: 10px;
          content: "";
          position: absolute;
          width: 100%;
          transform: scaleX(0);
          height: 2px;
          bottom: 0;
          left: 0;
          background: $gradiant-color90;
          transform-origin: center;
          transition: transform 200ms ease-in-out;
        }

        &:hover, &.active {
          &::after {
            margin-top: 10px;
            transform: scaleX(1);
            transform-origin: center;
          }
        }
      }
    }
  }
}

