// Gradiant
$gradiant-color0: -webkit-linear-gradient(0deg, rgba(0,133,255,1) 40%, rgb(141, 96, 251) 100%);
$gradiant-color90: -webkit-linear-gradient(0deg, rgba(0,133,255,1) 40%, rgb(141, 96, 251) 80%);
//Tag Colors
$p-color: #9a9a9a;